## Create a dataset
This is notebook to explore the process of making a dataset - this is however just stiched together and should be done much nicer

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import cv2
import pandas as pd
from torchvision import transforms

### Download a video to use

In [1]:
# from pytube import YouTube
# url = "https://www.youtube.com/watch?v=0V0HQDwM22E"
# output_path = "videos/highlights.mp4"
# file_name = "rallies1.mp4"

# yt = YouTube(url)
# yt.streams.filter(progressive=True, file_extension='mp4').order_by('resolution').desc().first().download(output_path=output_path, filename=file_name)

### Load video / images

In [8]:
MAX_FRAMES = 100_000

cap = cv2.VideoCapture('../data/raw/videos/rallies1.mp4')
frame_num = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))
frame_width = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))
frame_height = int(cap.get(cv2.CAP_PROP_FRAME_HEIGHT))

n_frames = min(MAX_FRAMES, frame_num)
print(f"num frames: {n_frames}, at {frame_width}x{frame_height}")

num frames: 19967, at 1280x720

### Load keypoints

In [9]:
import json
f = open("../data/raw/videos/keypoints.json")
coco = json.load(f)
f.close()

print(coco.keys())
print(coco['annotations'][0])

dict_keys(['licenses', 'info', 'categories', 'images', 'annotations'])
{'id': 1, 'image_id': 11, 'category_id': 1, 'segmentation': [], 'area': 340725.36140000005, 'bbox': [180.8, 149.12, 914.11, 372.74], 'iscrowd': 0, 'attributes': {'occluded': False, 'keyframe': False}, 'keypoints': [180.8, 521.03, 2, 1094.91, 521.86, 2, 850.75, 149.96, 2, 428.12, 149.12, 2, 297.99, 519.37, 2, 978.02, 520.29, 2, 798.2, 150.6, 2, 480.69, 149.61, 2, 371.13, 373.82, 2, 640.42, 373.46, 2, 905.42, 373.9, 2, 819.03, 194.99, 2, 640.15, 196.19, 2, 459.01, 194.71, 2, 640.16, 266.15, 2], 'num_keypoints': 15}

In [10]:
df_data = []
image_names = []
image_ids = []

for annotation in coco['annotations']:
    id = annotation['image_id']

    image_name = f"image_{id}.npy"
    image_names.append(image_name)
    image_ids.append(id)

    keypoints = np.array(annotation['keypoints']).reshape(-1,3)[:,:2].flatten()
    df_data.append(keypoints)

kp_names = [f'point_{n}_{xy}' for n in range(15) for xy in ["x","y"]]

df = pd.DataFrame(df_data, columns=kp_names, index=None)
df.insert(0, "image_name", image_names)
df.insert(0, "image_id", image_ids)
df

,image_id,image_name,point_0_x,point_0_y,point_1_x,point_1_y,point_2_x,point_2_y,point_3_x,point_3_y,...,point_10_x,point_10_y,point_11_x,point_11_y,point_12_x,point_12_y,point_13_x,point_13_y,point_14_x,point_14_y
0,11,image_11.npy,180.80,521.03,1094.91,521.86,850.75,149.96,428.12,149.12,...,905.42,373.90,819.03,194.99,640.15,196.19,459.01,194.71,640.16,266.15
1,20,image_20.npy,180.93,520.48,1095.23,521.32,850.24,149.68,427.25,148.82,...,905.34,373.61,818.98,194.58,639.70,195.58,458.17,194.58,640.35,266.11
2,30,image_30.npy,180.86,520.17,1095.17,521.01,850.18,149.37,427.18,148.51,...,905.27,373.30,818.92,194.27,639.63,195.26,458.10,194.27,640.80,266.31
3,40,image_40.npy,180.86,519.65,1095.17,520.49,850.18,148.85,427.18,147.99,...,905.27,372.78,818.92,193.75,639.63,194.75,458.10,193.75,640.80,265.80
4,50,image_50.npy,180.35,520.68,1094.65,521.53,849.66,149.89,426.67,149.02,...,904.76,373.81,818.40,194.79,639.12,195.78,457.59,194.78,640.28,266.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,8813,image_8813.npy,195.10,530.81,1079.94,528.96,860.90,165.90,417.77,166.48,...,906.74,392.94,826.13,213.38,639.20,214.28,452.55,213.88,639.06,287.52
430,8823,image_8823.npy,195.10,530.81,1079.94,528.96,860.90,165.90,417.77,166.48,...,906.74,392.94,826.13,213.38,639.20,214.28,452.55,213.88,639.06,287.52
431,8833,image_8833.npy,195.10,530.81,1079.94,528.96,860.90,165.90,417.77,166.48,...,906.74,392.94,826.13,213.38,639.20,214.28,452.55,213.88,639.06,287.52
432,8843,image_8843.npy,195.10,530.81,1079.94,528.96,860.90,165.90,417.77,166.48,...,906.74,392.94,826.13,213.38,639.20,214.28,452.55,213.88,639.06,287.52
433,8853,image_8853.npy,195.10,530.81,1079.94,528.96,860.90,165.90,417.77,166.48,...,906.74,392.94,826.13,213.38,639.20,214.28,452.55,213.88,639.06,287.52

In [ ]:
annotated_image_idx = set([anno['image_id'] for anno in coco['annotations']])
print(annotated_image_idx)

frame_num = 0
ret = True

while (ret and frame_num < n_frames):
    ret, im = cap.read()
    if frame_num in annotated_image_idx:
        image = cv2.cvtColor(im, cv2.COLOR_BGR2RGB)
        np.save(f"../data/processed/images/image_{frame_num}.npy", image)

    frame_num += 1

In [11]:
df.to_csv("../data/processed/keypoints/keypoints.csv", header=True, index=False)

# Test the dataset model

In [2]:
from tennis_court_tracker.data.TennisCourtDataset import TennisCourtDataset, ToTensor, Rescale, RandomCrop

In [6]:
court_dataset = TennisCourtDataset(
    "../data/processed/keypoints/keypoints.csv", 
    "../data/processed/images/",
    transform = transforms.Compose([
        Rescale((360, 640)),
    #     # RandomCrop(224),
        # ToTensor()
    ])
)

In [7]:
def show_keypoints(ax, image, keypoints):
    ax.imshow(image)
    ax.scatter(keypoints[:,0], keypoints[:,1], linewidth=0.25, marker=".", c="red")

In [8]:
fig = plt.figure()

for i, sample in enumerate(court_dataset):
    print(i, sample['image'].shape, sample['keypoints'].shape)
    ax = plt.subplot(1, 4, i + 1)
    plt.tight_layout()
    ax.set_title('Sample #{}'.format(i))
    ax.axis('off')
    show_keypoints(ax, **sample)

    if i == 3:
        plt.show()
        break

0 torch.Size([3, 360, 640]) torch.Size([15, 2])